# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

yarn.lock 

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist
/node_modules
# .github

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# /firebase-debug.log
# .firebaserc
# /firebase.json
# .firebase
.vercel
.env*.local
